@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.card {
    position: relative;
    max-width: 300px;
    width: 90%;
    height: 400px;
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.showCard{
    transform: rotateY(180deg);
}

.userName{
    font-size: 1.7rem;
    font-weight: 500;
}

.openCardBtn{
    background-color: rgba(255, 255, 255, 0);
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgba(128, 128, 128, 0.66);
    font-size: 1.3rem;
    color: rgb(60, 60, 60);
}

.messageText{
    color: rgb(153, 153, 153);
}

.openCardBtn:hover{
    cursor: pointer;
    background-color: white;
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
    background-image: url('https://img.freepik.com/free-photo/white-paper-texture_1194-5998.jpg?t=st=1720628780~exp=1720632380~hmac=0fc27b1c32b60af81300c0ef4889c61b128f2873d845bbac99fe8af137367704&w=1380');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-front p{
    opacity: 60%;

    font-size: 1.4rem;
}

.card-back {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    transform: rotateY(-180deg);
}

.message {
    font-size: 20px;
    color: #ff69b4;
}

.message p {
    margin: 10px 0;
}

.emoji {
    font-size: 50px;
}

.muteBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 12;
    margin: 4rem;
    cursor: pointer;
}