@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Basic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main{
    display: flex;
    justify-content: center;
    padding: 150px 30px 50px;
}

.game{
    text-align: center;
}

.game h1{
    font-size: 3rem;
}

.numberButton{
    font-size: 2rem;
    padding: 1rem 1.7rem;
    cursor: pointer;
    margin: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}

.numberButton:hover{
    background-color: rgba(0, 0, 0, 0.616);
}

.numbersDiv{
    margin-top: 3rem;
}

.won{
    background-color: rgb(0, 224, 0);
}

.won:hover{
    background-color: rgba(0, 224, 0, 0.643);
}

.lose{
    background-color: rgb(255, 53, 53);
}

.lose:hover{
    background-color: rgba(255, 53, 53, 0.705);
}

.disabledHover:hover{
    cursor: not-allowed;
}
