*{
    box-sizing: border-box;
}

body{
    background-color: #00fe30;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.card{
    padding: 50px;
    background-color: black;
    color: #eee;
    box-shadow: rgba(0, 0, 0, 0.357) 2px 15px 10px 5px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 600px;
}

.card h1{
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-size: 1.5rem;
    line-height: 40px;
}

.card img{
    position: absolute;
    top: -40px;
    right: -30px;
    width: 190px;
    padding: 40px;
    background-color: #00fe30;
    border-radius: 50%;
}

.loader{
    font-size: 1.5rem;
    position: absolute;
    background-color: #00fe30;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 100;
}